/* --- NAVBAR ---*/

.headerbar {
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0px 0px 0px 0px;
}

.title {
    text-decoration: none;
    font-weight: bold;
}

.headerbar #navbarTitle {
    font-size: 30px;
    color: white;
}

.headerbar #logoPolito {
    width: 100px;
    height: auto;
    margin-left: 20px;
    margin-right: 20px;

}

.actionBar {
    margin: 0px 0px 0px 0px;
}

.actionBar .navbar {
    width: 90%;
    max-height: 50px;
    border-radius: 100px;
    background: linear-gradient(to left, #e0e7f0 0%, #d1ddee 100%);
    padding: 0px 0px 0px 0px;
    margin-bottom: 20px;
}

.action-list {
    padding: 0px 0px 0px 0px;
    max-height: 40px;
}

.navbar #loginLogo {
    color: #fc7a08 !important;
    font-size: 30px;
    padding-left: 3px;
    padding-right: 25px;
    opacity: 0.8;
    transition: 0.3s;
}

.navbar #loginLogo:hover {
    opacity: 1;
    cursor: pointer;
}

.navbar-nav {
    margin-right: 0px !important;
}



.action-item {
    color: #fc7a08 !important;
    opacity: 0.8;
    transition: 0.3s;
}

.action-item:hover {
    opacity: 1;
    font-size: 18px;
}