.main-table {
    border-collapse: separate;
    border-spacing: 0 0px;
    text-align: center;
    border-radius: 50px;
    border: #fff;
}

.main-table .table-header {
    border-width: 0px;
    color: black;
}

.main-table .table-row {
    border-width: 0px;
    cursor: pointer;
}


.main-table td:last-child.table-col.close {
    background-color: white;
    color: #fc7a08;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: border-top-right-radius 0.2s, border-bottom-right-radius 0.2s, background-color 0s, color 0s;
    transition-delay: .2s;
}

.main-table td:first-child.table-col.close {
    background-color: white;
    color: #fc7a08;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: border-top-left-radius 0.2s, border-bottom-left-radius 0.2s, background-color 0s, color 0s;
    transition-delay: .2s;
}

.main-table td:last-child.table-col.open {
    background-color: #fc7a08af;
    color: white;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 0px;
    transition: border-top-right-radius 0.2s, border-bottom-right-radius 0.2s, background-color 0s, color 0s;

}

.main-table td:first-child.table-col.open {
    background-color: #fc7a08af;
    color: white;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 0px !important;
}

.main table .table-col.open {
    background-color: #fc7a08af;
    color: white;
    transition: background-color .2s, color .2s;
}

.main table .table-col.close {
    background-color: white;
    color: #fc7a08;
    transition: background-color .2s, color .2s;
    transition-delay: .2s;
}



div.hidden {
    max-height: 0px;
    overflow: hidden;
    transition: max-height .2s;
}

div.shown {
    max-height: 400px;
    overflow: hidden;
    transition: max-height .2s;
}

.hidden-col {
    padding: 0px 0px 0px 0px !important;
}

.hidden-div {
    background-color: #fc7a08af !important;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.hidden-div.disabled {
    background-color: #8d8d8daf !important;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
}

.no-hover {
    pointer-events: none;
}

.main-table.hidden-row td:first-child {
    border-bottom-left-radius: 50px !important;
    border-bottom-right-radius: 50px !important;
}

.hidden-table {
    margin-right: 5px;
    margin-left: 5px;
    border: #fc7a08af;
    border-collapse: separate;
}

.hidden-table .table-row {
    color: #000;
}

.hidden-table .table-col {
    border-width: 0px;
    border-radius: 0px 0px 0px 0px !important;
}


/* EDIT MODE */
.disabled {
    color: #8d8d8d !important;
}

.main table .table-col.disabled.open {
    background-color: #8d8d8daf;
    color: black !important;
    transition: background-color .2s, color .2s;
}

.main table .table-col.disabled.close {
    background-color: white;
    transition: background-color .2s, color .2s;
    transition-delay: .2s;
}

.main-table td:last-child.table-col.disabled.close {
    background-color: white;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    transition: border-top-right-radius 0.2s, border-bottom-right-radius 0.2s, background-color 0s, color 0s;
    transition-delay: .2s;
}

.main-table td:first-child.table-col.disabled.close {
    background-color: white;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    transition: border-top-left-radius 0.2s, border-bottom-left-radius 0.2s, background-color 0s, color 0s;
    transition-delay: .2s;
}

.main-table td:last-child.table-col.disabled.open {
    background-color: #8d8d8daf;
    color: black !important;
    border-top-right-radius: 50px !important;
    border-bottom-right-radius: 0px !important;
}

.main-table td:first-child.table-col.disabled.open {
    background-color: #8d8d8daf;
    color: black !important;
    border-top-left-radius: 50px !important;
    border-bottom-left-radius: 0px !important;
}

#plus-button {
    color: rgb(0, 87, 0);
    margin-left: 10px;
}

#dash-button {
    color: red;
    margin-left: 10px;
}



.table-row.view {
    cursor: pointer;
}

.table-col.edit-mode.close {
    color: rgb(1, 0, 39) !important;
}

.table-col.edit-mode.open {
    color: white !important;
}